html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display:flex;
    flex-direction: column;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(50, 50, 70);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    animation: fadeOut 0s forwards;
    animation-delay: 0s;

}

.three-body {
    --uib-size: 35px;
    --uib-speed: 0.8s;
    --uib-color: #686574;
    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin calc(var(--uib-speed) * 2.5) infinite linear;
}
   
.three-body__dot {
   position: absolute;
   height: 100%;
   width: 30%;
}

.three-body__dot:after {
    content: '';
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
   }
   
.three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
   }
   
.three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
   }
   
.three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
   }
   
.three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite
       calc(var(--uib-speed) * -0.15) ease-in-out;
   }
   
.three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
   }
   
.three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
   }
   
@keyframes spin {
    0% {
     transform: rotate(0deg);
    }
   
    100% {
     transform: rotate(360deg);
    }
   }
   
@keyframes wobble1 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(-66%) scale(0.65);
     opacity: 0.8;
    }
   }
   
@keyframes wobble2 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(66%) scale(0.65);
     opacity: 0.8;
    }
   }
@keyframes fadeOut {
    from {
        opacity:1;
        visibility: visible;
    }
    to {
        opacity:0;
        visibility:hidden;
    }
}
header {

    background-color: #fff; /* Fond blanc */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

header .logo h1 {
    font-size: 2em;
    color: #333;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #3f65f0; /* Bleu lors du survol */
}

/* Section principale */
main {
    flex:1;
    padding: 40px 20px;
    text-align: center;
    background-image: url(../img/full1.jpg),url(../img/full2.jpg),url(../img/full3.jpg);
    background-repeat: no-repeat;
    background-size: 450px 250px, 400px 400px;
    background-position: 3% 4%, 12% 100%, 50% 95%;
    background-color: #f4f4f4;
}

/* Section d'introduction */
.intro h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.2em;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
}

/* Section des boutons */
.buttons h3 {
    font-size: 1.8em;
    margin: 30px 0;
    color: #333;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 15px 30px;
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    background-color: #3f65f0; /* Bleu */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #1f4fb1; /* Bleu plus foncé au survol */
    transform: translateY(-3px);
}

/* Footer */
footer {
    flex-shrink: 0;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
    color: #777;
}